# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pool:
  vmImage: 'customUbuntu'

steps:
  - script: npm install
    workingDirectory: hello
    displayName: "npm install into hello directory"

  - bash: npm install
    workingDirectory: hello2
    displayName: "npm install into hello2 directory"

  - task: ArchiveFiles@2
    displayName: "Archive files"
    inputs:
      rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
      includeRootFolder: false
      archiveFile: "$(System.DefaultWorkingDirectory)/$(Build.BuildId).zip"
       
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)'
      name: 'drop'
       
  #- script: |
  #   echo Pipeline fait par Dimitri.
  #    echo Voir https://aka.ms/yaml pour la syntaxe et les options disponibles
  #  displayName: 'Run a multi-line script'
